.news {
    margin-top: 40px;
}
.news > div:last-child {
    margin: 0!important;
    border: none;
    border-top: 3px solid var(--red);
}
.news > div:last-child > div {
    padding: 0px 15px 0 0!important;
    margin-top: 20px;
    position: relative;
    overflow: hidden;
}
.news > div:last-child > div:last-child {
    padding-right: 0!important;
}

.news > div:last-child > div a {
    font-weight: bold;
    color: var(--black);
    overflow: hidden;   
}
.news > div:last-child > div > div  {
   height: 300px;
   overflow: hidden;
}
.news > div:last-child > div p {
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
}
.news span {
    text-transform: capitalize;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--red);
    color: var(--white);
    padding: 2px;
    border-bottom-right-radius: 5px;
}
.news > div:last-child > div:hover img {
    transform: scale(1.1);
    transition: all 1s;
}
