#banner {
    margin-top: 20px;
}

#banner img {
    border-radius: 10px;
}
.swiper-slide {
    text-align: center;
    font-size: var(--font-size);
    width: 107px;
    margin-right: 10px;
    background: var(--white);
}

.swiper-slide a:first-child {
    width: 80px;
    height: 80px;
    margin: 0px auto 5px;
}

.swiper-slide a {
    color: var(--black);
}
.swiper-slide a:hover{
    color: #ff843c;
}
.swiper-slide:hover img {
    transform: rotate(45deg);
    transition: all 0.6s;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-button-prev,.swiper-button-next {
    border-radius: 50%;
    background: var(--white);
    color: var(--black);
    height: 30px;
    width: 30px;
    top: 43%;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
}
.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
    font-size: var(--font-size);
    color: var(--black);
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 0;
}
.swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
    font-size: 16px;
    color: var(--black);
    left: 0;
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}
  
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}
