* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    outline: none;
}
i {
    font-size: 20px;
}
img{
    max-width: 100%;
}
p {
    font-size: 16px;
    text-transform: capitalize;
}
a {
    text-transform: capitalize;
    display: block;
}
a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
    margin-bottom: 0;
}

/* header */


.btn {
    top: 0px;
    right: 0px;
    background: none;
    border-style: none;
}
.cart {
    width: 360px;
    height: 200px;
    right: 0px;
    top: 45px;
    text-align: center;
    padding-top: 10px;
    background-color: antiquewhite;
    z-index: 11;
    display: none;
    margin: 15px;
    border-radius: 5px;
}
.cart i {
    font-size: 111px;
    color: rgb(245, 94, 94);
}

.cart-shop:hover .cart {
    display: block;
}

/* Menu */

.menu {
    background-color: brown;
}
.menusp > a {
    color: #fff;
}
.phone-std {
    width: 350px;
    background-color: white;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
    top: 40px;
    z-index: 2;
}
.phone-std a{
    color: #000;
    margin: 5px;
}
.phone-std img {
    width: 60px;
    height: 60px;
}
.menu-pdt:hover  .phone-std {
    display: block;
}
/* banner and swiper */
#banner {
    margin-top: 20px;
   
}

#banner img {
    border-radius: 10px;
}

.swiper-slide {
    text-align: center;
    font-size: 16px;
    width: 107px;
    margin-right: 10px;
    background: rgb(255, 255, 255);
}



.swiper-slide a:first-child {
    width: 80px;
    height: 80px;
    margin: 0px auto 5px;
}

.swiper-slide a {
    color: black;
}
.swiper-slide a:hover{
    color: #ff843c;
}
.swiper-slide:hover img {
    transform: rotate(45deg);
    transition: all 0.6s;
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-button-prev,.swiper-button-next {
    border-radius: 50%;
    background: #fff;
    height: 30px;
    width: 30px;
    top: 43%;
    box-shadow: 0 1px 12px 0 rgb(0 0 0 / 12%);
  }

  .swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after {
      font-size: 16px;
      color: #000;
      
  }
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 0;
  }
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
      left: 0;
  }
  .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
      font-size: 16px;
      color: #000;
      left: 0;
  }

  .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
      opacity: 1;
  }
  

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 1;
}

