.techology {
    margin-top: 60px;
}

.techology li a {
    color: var(--black);
}
.techology > div:first-child {
    background-color: var(--white);
    border-bottom: 3px solid var(--red);
}
.techology > div.row {
    text-align: center;
}

.techology > div.row li a {
    font-size: 14px;
    font-weight: bold;
}
.techology a:hover {
    color: var(--orange);
}
.techology > div > div.con  {
    background-color: var(--red);
    height: 60px;
    line-height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.techology > div > div.con a {
    color: var(--white);
}

.techology > div.row > ul li {
    padding: 0;
} 
.techology > div:last-child {
    margin: 40px 0 0 0;
    padding: 0;
}
.techology > div:last-child > div >div > div:first-child a {
    color: var(--black);
    font-weight: bold;
    font-size: 14px;
}
.techology > div:last-child > div:first-child > div img {
    height: 340px;
}
.techology > div:last-child > div:first-child {
    margin-right: 20px;
}
.techology > div:last-child > div:last-child > div a img {
    margin-bottom: 5px;
}
.techology > div:last-child > div:last-child > div:hover a img {
    transform: scale(1.05);
    transition: all 0.6s;
} 
.techology > div:last-child > div:last-child > div:hover #cart{
    background-color: var(--red);
    opacity: 1!important;
    color: var(--white);
}
.techology > div:last-child >div:last-child > div {
    width: calc((100% - 15px) /3 );
    position: relative!important;
}
.pric p {
    margin: 0;
    color: var(--red);
}
.techology > div:last-child >div:first-child > div:first-child {
    margin-bottom: 10px;
}
